
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
*.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### querydsl ###
generated

### secret key ###
application-security-service.yml
aws.txt
auth-api/src/test/
aws-api/src/test/
common-api/src/main/generated/
common-api/src/main/resources/
common-api/src/test/
domain-service/src/main/generated/
domain-service/src/test/java/com/bb/stardium/domain/club/
resource-api/src/test/
security-module/src/test/
